body{
	background-image: url("back.png/");
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
	background-color: rgb(255,252,252);
	padding: 0em;
	text-align: center;
}

h1{
	letter-spacing: 1em;
	text-decoration: underline;
}

button{
	align: left;
	max-width: 100%;

}

input {
	align: center;
	max-width: 100%;
}